@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/materialicons.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-Thin.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-DemiLight.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: local('Note Sans Japanese'), url(/fonts/NotoSansJP-Black.woff2) format('woff2');
}
