.feed-page {
  .page-content {
    position: relative;
    max-width: 100%;
    width: 680px;
    height: 100%;
    margin: 0 auto;
    padding-top: 44px;
    .feed-list-container {
      height: 100%;
      overflow: scroll;
    }
  }
}

.application-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 1;
  background-color: $color-white;
  .setting-link {
    position: absolute;
    left: 0;
    padding: 8px;
    .setting-link-content {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background-color: #ddd;
    }
  }
  .search-button-container {
    position: absolute;
    right: 0;
    .search-button {
      font-size: 24px;
      width: 44px;
      height: 44px;
    }
  }
}

.feed {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-white;
}
.feed-tab {
  position: absolute;
  left: 0;
  width: 100%;
  height: 52px;
  display: flex;
  .feed-tab-item {
    flex: 1;
    text-align: center;
    font-size: 24px;
    padding: 8px 0;
    color: $color-text-secondary;
    cursor: pointer;
    &:active {
      background-color: $color-ui-active;
    }
    &__active {
      position: relative;
      box-shadow: 0 -4px 0 0 $color-primary inset;
      &:after {
        position: absolute;
        top: calc(50% - 16px);
        left: calc(50% + 8px);
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-primary;
      }
    }
  }
}
.feed-list {
  .feed-list-item {
    border-bottom: $border;
    padding: 12px;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.desktop {
  .feed {
    padding-top: 52px;
  }
  .feed-tab {
    top: 0;
    border-bottom: $border;
  }
}

.mobile {
  .feed {
    padding-bottom: 52px;
  }
  .application-header {
    border-bottom: $border;
  }
  .feed-tab {
    bottom: 0;
    border-top: $border;
  }
}
